@import url("./components/alert.css");
@import url("./components/avatar.css");
@import url("./components/badge.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/grid.css");
@import url("./components/header.css");
@import url("./components/image.css");
@import url("./components/input.css");
@import url("./components/list.css");
@import url("./components/menu.css");
@import url("./components/modal.css");
@import url("./components/navigation.css");
@import url("./components/rating.css");
@import url("./components/snackbar.css");
@import url("./components/text-utils.css");

:root{
    /* colors */
    --darkblue: #00008b;
    --darkgreen: #006400;
    --darkorange: #ff8c00;
    --darkred: #8b0000;
    --darkgrey: #2c2b2b;
    --darkteal: #012222;
    --lightblue: #add8e6;
    --lightgreen: #90ee90;
    --lightorange: #f8ea6d98;
    --lightred: #f08080c5;
    --lightlavender: #d7a0ff;;
    --lightgrey: #d3d3d3;
    --lightteal: #075f5f;
    --teal: #054e4e;
    --lavender: #c676ff;
    --red: #DD2D4A;
    --grey: #808080;
    --yellow: #ffd700;
    --white: #ffffff;
    --black: #000000;
    --black-op : #00000066;

    /* border radius */
    --lightround: 4px;
    --blue: dodgerblue;
    --rounded: 999px;

    /* spacing */
    --space-xxxs: 0.2rem;
    --space-xxs: 0.3rem;
    --space-xs: 0.9rem;
    --space-s: 1rem;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
}
