.alert{
    width: max-content;
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    gap: 1rem;
    border-radius: var(--lightround);
}
.error{
    color: var(--darkred);
    background: var(--lightred);
}
.warning{
    color: var(--darkorange);
    background: var(--lightorange);
}
.info{
    color: var(--darkblue);
    background: var(--lightblue);
}
.success{
    color: var(--darkgreen);
    background: var(--lightgreen);
}