.container-avatar{
    margin: 2.5rem 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.avatar-img{
    border-radius: 999px;
}
.avatar-icon{
    padding: 1.5rem;
    background: lightgrey;
    color: grey;
    border-radius: 999px;
    font-size: 1.5rem;
}
.avatar-text{
    color: white;
    background: rgb(0, 51, 51);
    padding: 1.5rem;
    border-radius: 999px;
    font-size: 1.5rem;
}