.badge-icon{
    font-size: 2rem;
    position: relative;
}
.badge-number{
    align-items: center;
    background: var(--red);
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 0.8rem;
    height: 1rem;
    justify-content: center;
    overflow: visible;
    padding: 1px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 1rem;
}
.badge-status{
    background: limegreen;
    border-radius: 999px;
    border: 2px solid white;
    height: 0.7rem;
    overflow: visible;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 0.7rem;
}

