.container-header{
    background: var(--teal);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    align-items: center;
}
.header-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-options>*{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: var(--white);
}
.brandname{
    margin: 0px 0px 0px 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.header-options>*:hover{
    background: var(--lightteal);
    cursor: pointer;
    transition-duration: 0.4s;
}