.column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-container{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    color: var(--darkteal);
    font-size: 1.2rem;
}
.input{
    outline: none;
    border:none;
    color: var(--darkteal);
    padding: var(--space-xs) var(--space-s);
    font-size: 1rem;
}
.input:hover{
    cursor: text;
}
.standard{
    border-bottom: 2px solid var(--darkteal);
}
.outlined{
    border: 2px solid var(--darkteal);
    border-radius: var(--lightround);
}
.filled{
    background: var(--lightgrey);
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid var(--darkteal);
}
.std-error{
    border-bottom: 2px solid var(--red);
}
.out-error{
    border: 2px solid var(--red);
}
.fill-error{
    border-bottom: 2px solid var(--red);
}
