.container-list{
    border-left: 2px solid var(--teal);
}
ul{
    /* list-style-type: none; */
    color: var(--teal);
}
li{
    margin: 0.8rem 0;
}
.container-stack{
    list-style-type: none;
    color: var(--darkteal);
}
.stack-item{
    border: 0.1rem solid var(--white);
    background: var(--lightgrey);
    border-radius: var(--lightround);
    padding: 1rem 2rem;
    width: clamp(18.75rem, 50vw, 800px);
    text-align: left;
    box-shadow: 1px 1px 3px 1px var(--lightgrey);
}