.container-modal{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 30vh;
    background: var(--black);
    background: var(--black-op);
    position: fixed;
    display: none;
}
.show{
    display: block;
}
.content-modal{
    background: white;
    padding: 10px 20px 20px 20px;
    width: clamp(300px, 50vw, 800px);
    height: max-content;
    border-radius: 4px;
    box-shadow: 3px 3px 20px 10px var(--darkgrey);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}