.container-snackbar{
    background: var(--darkgrey);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 20px;
    width: max-content;
    padding: 10px;
    border-radius: var(--lightround);
}
.retry{
    color: var(--lavender);
}
.retry:hover{
    color: var(--lightlavender);
    cursor: pointer;
}
.x{
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x:hover{
    background: var(--grey);
    border-radius: var(--rounded);
    cursor: pointer;
}