body{
    margin: 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    scroll-behavior: smooth;
}

.container-docs{
    padding-top: 3rem;
}
.container-textutils{
    width: 100%;
}
.page-content{
    padding: 2rem;
    margin: 3rem 0px 0px 300px;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 3rem;
}
.subtext{
    display: block;
    color: grey;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1.5rem 0px 1.5rem 0px;
}
.example{
    font-size: 1.6rem;
}
.example-box{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    max-width: 100vw;
    margin: 3rem 0px 0px 0px;
    border: 1px solid var(--lightgrey);
    border-radius: var(--lightround);
}
.relative{
    position: relative;
}
.carbon{
    margin: 4rem 0px 0px 0px;
    border-radius: var(--lightround);
    max-height: 400px;
    max-width: 100%;
}